body{
    margin: 0;
}
.hero-container {
    margin-top: 5%;
    margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  /*border: 1px solid red;*/
}
#description-container {
    /*border: 1px solid green;*/
    position: relative;
    color: white;
    font-family: 'Bangers', cursive;
    border: 2px solid white;
    padding: 20px;
    width: 40%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.829);
    box-shadow: 0 0 10px black;
    margin-top: 5%;
    margin-left: 5%;
    
}

.clippy {
    position: absolute;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: rgba(255, 255, 255, 0.178);
    width: 100%;
    height: 100%;
    z-index: -1;
    bottom: 0;
    right: 0;
    
}
#description-container p{
 font-family: 'Roboto', sans-serif;
 color: white;
}


#description-container li{
    list-style: square;
   
   }

#container {
    border: 7px solid rgb(236, 236, 236);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px black;
    font-size: 2.4rem;
    text-shadow: 0px 0px 10px black;
    text-align: center;
    font-family: 'Bangers', cursive;
    color: rgb(255, 255, 255);
    width: 50%;
    margin: auto;
    background: url(./hero.jpeg) ;
    
  
}

.btn {
    width: 40%;
    height: 50px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.87);
    border: 7px solid rgb(255, 255, 255);
    color: red;
    font-family: 'Bangers', cursive;
    text-shadow: 0px 0px 2px black;
    font-weight: 900;
    font-size: 1.5rem;
    
}

.btn:hover{
    color: rgb(0, 6, 85);
    text-shadow: 0 0 5px white;
    cursor: pointer;

}

.btn:focus{ /*cache le contour dégueulasse du focus*/
    outline: none;
}
header {
    height: 10vh;
    background-color: rgba(255, 0, 0, 0.658);
    border-bottom: 10px solid white;
    padding: 20px;
}

footer {
    height: 10vh;
    background-color: rgba(0, 9, 136, 0.733);
    border-top: 10px solid rgb(255, 255, 255);
}



/******************************************* Effets propre à chaque héros ********************************************/

/********| héro 1 |********/
.fond_superman { background-image: url(./img/superman_bg.jpg); }
.fond_superman img {
    
}
/********| héro 2 |********/
.fond_hulk { background: radial-gradient(rgba(40, 165, 2, 0.5) 40%, rgba(0, 0, 0, 0.767)); }
/********| héro 3 |********/
.fond_batman {background-image: url(./img/batman_bg.jpg);}
.fond_batman img{margin-bottom: -6.8%;}
.fond_batman header {background-color: rgba(4, 6, 75, 0.6);}
.fond_batman footer {background-color: rgba(0, 0, 14, 0.9);}

/********| héro 4 |********/
.fond_spiderman { background-image: url(./img/spiderman_bg.png);}


/********| héro 5 |********/
.fond_joker { background-image: url(./img/joker_bg.jpg);background-position: 50% 50%;   }
.fond_joker .clippy {
    clip-path: polygon(20% 0%, 0 46%, 41% 51%, 0% 80%, 20% 100%, 50% 60%, 80% 100%, 100% 66%, 54% 51%, 100% 17%, 80% 0%, 49% 43%);
}
.fond_joker header {background-color: rgb(58, 0, 58);}
.fond_joker footer {background-color: rgb(58, 0, 58);}
.fond_joker img {margin-bottom: -7%;}
/********| héro 6 |********/
.fond_deadpool { background-image: url(./img/deadpool_bg.jpg);}
.fond_deadpool img {position: absolute;bottom: 0;}
.fond_deadpool #description-container {margin-left: 40%;}
.fond_deadpool header {background-color: rgb(0, 0, 0);}
.fond_deadpool footer {background-color: rgb(0, 0, 0);height: 17vh;}
.fond_deadpool .clippy {
    clip-path: polygon(20% 0%, 0 46%, 41% 51%, 0% 80%, 20% 100%, 50% 60%, 80% 100%, 100% 66%, 54% 51%, 100% 17%, 80% 0%, 49% 43%);

}

/********| héro 7 |********/
.fond_pingouin {
    
}
.fond_pingouin header {background-color: transparent;}
.fond_pingouin footer {background-color: transparent;}
.fond_pingouin img {margin-bottom: -10%;}
.fond_pingouin .clippy {
    clip-path: polygon(20% 0%, 0 46%, 41% 51%, 0% 80%, 20% 100%, 50% 60%, 80% 100%, 100% 66%, 54% 51%, 100% 17%, 80% 0%, 49% 43%);

}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    top:-300px;
    right: 0;
    bottom: 0;
    min-width: 70%;
    min-height: 50%;
    z-index:-1000000;
  }
